.first-color { 
	background: #f78536; 
}
	
.second-color { 
	background: #dfebed; 
}

.third-color { 
	background: #497285; 
}

.fourth-color { 
	background: #2b4450; 
}

/* verdana (sans-serif) is backup */

@font-face {
  font-family: 'AtkinsonHyperlegible';
  src: url("fonts/AtkinsonHyperlegible-Regular.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'AtkinsonHyperlegible', 'Verdana', sans-serif;
  padding: 0px 100px 0px 50px;
  font-size: 1.5em;
  line-height: 1.4em;
  margin: 0;
  color: #2b4450;
  background-color: #f0efe9;
}

code {
  /* display: block; */
  max-width: 50%;
  background-color: #000000;
  color: #ffffff;
  padding: 1px;
  }

.header {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0efe9;
  color: #2b4450;
}

.header h1 {
  font-size: 1.5em;
  color: #2b4450;
}

.navbar {
  background-color: #f0efe9;
  min-width: 422px;
  display: flex;
}

.navbar a {
  margin-right: 0.2em;
}

.main h2 {
  color: #2b4450;
  /* background: linear-gradient(120deg, #96e6a1 0%, #d4fc79 100%); */
}

.main h3 {
  color: #2b4450;
  background-color: #B5F18D;
}

.main h4 {
  color: #2b4450;
  background-color: #C5F783;
}

.main h5 {
  color: #2b4450;
  background-color: #d4fc79;
}

a:link {
  color: #00a74b;
  text-decoration: none;
}

a:visited {
  color: #00a74b;
  text-decoration: none;
}

a:hover {
  background-color: #C5F783;
  color: #2b4450;
  text-decoration: none;
}

a:active {
  background-color: #dfebed;
  color: #497285;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #C5F783;
  color: #2b4450;
  text-decoration: none;
}

.post-date {
  text-align: right;
  padding: 0px 0px 0px 10px;
}

.post-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
  width: 100%;
  min-width: 280px;
}

/* Main column */
.main {
  -ms-flex: 66%; /* IE10 */
  flex: 66%;
  background-color: #f0efe9;
  width: 110%;
  max-width: 690px;
}

/* Whitespace/right column */
.side {
  -ms-flex: 40%; /* IE10 */
  flex: 20%;
  background-color: #f0efe9;
}

/* Footer */
.footer {
  padding: 30px;
  text-align: right;
  background: #f0efe9;
  color: #808080;
  line-height: 1.4;
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar {
    flex-direction: column;
  }

  #img-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}