:root {
  --code-color: lime;
  --text-color: white;
  --link-color: #ffc93c;
  --hover-color: black;
  --hover-bg-color: white;
  --background-color: black;
}

@font-face {
  font-family: 'AtkinsonHyperlegible';
  src: url("fonts/AtkinsonHyperlegible-Regular.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'AtkinsonHyperlegible', 'Verdana', sans-serif;
  padding: 0px 100px 0px 50px;
  font-size: 1.5em;
  line-height: 1.4em;
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
}

code {
  /* display: block; */
  max-width: 50%;
  background-color: #000000;
  color: var(--code-color);
  padding: 1px;
  }

.header {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
}

.header h1 {
  font-size: 1.5em;
  color: var(--text-color);
}

.navbar {
  display: flex;
}

.navbar a {
  margin-right: 0.5em;
}

.main h2 {
  color: #2b4450;
  /* background: linear-gradient(120deg, #96e6a1 0%, #d4fc79 100%); */
}

.main h3 {
  color: var(--text-color);
  background-color: #B5F18D;
}

.main h4 {
  color: var(--text-color);
  background-color: #C5F783;
}

.main h5 {
  color: var(--text-color);
  background-color: #d4fc79;
}

a:link {
  color: var(--link-color);
  text-decoration: none;
}

a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover-color);
  background-color: var(--hover-bg-color);;
  text-decoration: none;
}

a:active {
  color: var(--hover-color);
  background-color: var(--hover-bg-color);;
  text-decoration: none;
}

.post-date {
  text-align: right;
  padding: 0px 0px 0px 10px;
}

.post-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
  width: 100%;
  min-width: 280px;
}

/* Main column */
.main {
  -ms-flex: 66%; /* IE10 */
  flex: 66%;
  width: 110%;
  max-width: 690px;
}

/* Whitespace/right column */
.side {
  -ms-flex: 40%; /* IE10 */
  flex: 20%;
}

/* Footer */
.footer {
  padding: 30px;
  text-align: right;
  color: #808080;
  line-height: 1.4;
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar {
    flex-direction: column;
  }

  .navbar a {
    width: fit-content;
  }

  #img-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}