body {
    max-width: 40rem; 
    font-size: larger;
    font-family: 'Andale Mono', 'monospace';
    padding: 2rem;
}

a {
    color: #4779d4;
}

a:hover {
    color: #859ece;
}

.breadcrumbs {
    font-size: smaller;
    font-style: oblique;
}

.list-item {
    padding-bottom: 0.7em;
}